:root {
    --color-background: #282a36;
    --color-background-darker: #20222e;
    --color-primary: #916BEA;
    --color-primary-darker: #7a56cc;
    --color-launchbase: #F69627;
    --color-gostack: #01D660;
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    background: var(--color-background);
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    padding: 3.2rem;
    border-bottom: 1px solid #333333;
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 10vh;
}

header div {
    text-align: center;
}

header div a {
    color: white;
    font-size: 1.7rem;
    line-height: 2.7rem;
    padding: 1.4rem .7rem;
    text-decoration: none;
}

header div a:hover {
    color: var(--color-primary);
    transition: color .2s;
}



@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }

    header {
        padding: 3.0rem;
    }

    header div a {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin: 0 3.0rem;
        padding: 0;
        text-decoration: none;
    }
}