<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="https://raw.githubusercontent.com/rocketseat-education/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="/styles/main.css">

        {% block head %}
            <title>School</title>
        {% endblock head %}
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/teachers">Teachers</a>
                <a href="/students">Students</a>
            </div>
        </header>

        {% block content %}{% endblock content %}

        <script src="/scripts.js"></script>
    </body>
</html>