{% extends "layout.njk" %}

{% block head %}
<title>Sobre | Yuri Alves</title>

<link rel="stylesheet" href="/styles/partials/about.css">

{% endblock %}

{% block content %}


<div id="wrapper">
    <img src="https://avatars3.githubusercontent.com/u/59984220?s=460&u=a5646b3d94de2d5de8ca4aa2d622a8667dab4ec0&v=4"
        alt="Yuri Alves">
    <h1>Yuri Alves</h1>
    <h2>Estudante - UEM</h2>
    <p>Estudante de desenvolvimento web no bootcamp LaunchBase da <a href="https://rocketseat.com.br"
            target="_blank">Rocketseat</a>.</p>
</div>

<footer>
    <div>
        <a href="https://github.com/yuripiresalves" target="_blank"><img src="/images/github.svg" alt="Github"></a>
        <a href="https://linkedin.com/in/yuripiresalves" target="_blank"><img src="/images/linkedin.svg"
                alt="Linkedin"></a>
    </div>
</footer>

{% endblock %}