<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
    <title>Yuri Alves</title>
    {% endblock %}

    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <header>
        <div>
            <a href="/">Sobre</a>
            <a href="/portfolio">Portfólio</a>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>

</html>