{% extends "layout.njk" %}

{% block head %}
    <title>{{item.title}}</title>

    <link rel="stylesheet" href="/styles/partials/portfolio.css">
    <link rel="stylesheet" href="/styles/partials/video.css">

{% endblock %}

{% block content %}

    <div id="wrapper" class="video">
        <h1>{{item.title}}</h1>
    </div>

    <section class="video">

        <div class="card" id="{{item.id}}">

            <div class="card-video-container">
                <iframe width="560" height="315" src="https://youtube.com/embed/{{item.id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <div class="card-content">
                <p>{{item.title}}</p>
            </div>
            <div class="card-info">
                <p>{{item.duration}}</p>
                <p class="card-price">{{item.price}}</p>
            </div>

        </div>

    </section>

{% endblock %}