<script>
    const formDelete = document.querySelector('#form-delete')

    formDelete.addEventListener('submit', (event) => {
        const confirmation = confirm('Gostaria mesmo de deletar?')

        if (!confirmation) {
            event.preventDefault()
        }
    })
</script>