.card {
    background-color: white;
    width: 80rem;
    min-height: 40rem;
    margin: 4.5rem auto;

    display: grid;
    grid-template-columns: 40% 60%;

    box-shadow: 0 1px 10px -6px black;
    animation: up .5s ease-in-out;
}

@keyframes up {
    from {
        opacity: .5;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
    }
}


.details {
    padding: 3.2rem;
}

.details .item {
    padding: 1.6rem 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.details .item:nth-child(2) {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #777777;
    letter-spacing: .2rem;
}

.details h3 {
    color: var(--color-primary-darker);
    text-transform: uppercase;
}

.details .item div:nth-child(2) {
    font-size: 1.8rem;
    font-weight: bold;
    color: #555555;
}

.details .item span {
    background-color: yellow;
    padding: .8rem 1.6rem;
    border-radius: 16px;
    display: inline-block;
    margin-top: .8rem;
    margin-right: .4rem;
    font-size: 1.2rem;
    color: #777777;
    text-transform: uppercase;
}

@media(max-width: 800px) {
    .card {
        width: 90%;
    }
}