@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap";

:root {
    --color-background: #282a36;
    --color-primary: #50fa7b;
    --color-primary-darker: #0ef348;
    --color-secondary: #7159c1;
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    background: var(--color-background);
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    padding: 3.2rem;
    border-bottom: 1px solid #333333;
    background-color: rgba(0, 0, 0, 0.1);
}

header div {
    text-align: center;
}

header div a {
    color: white;
    font-size: 2.4rem;
    line-height: 3.4rem;
    padding: 1rem;
    text-decoration: none;
}

header div a:hover {
    color: var(--color-primary);
    /* transition: color .2s; */
}

#wrapper {
    text-align: center;
    padding: 2rem;
    min-height: 80vh;
}

#wrapper img {
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    margin-bottom: 2rem;
    width: 25rem;
}

#wrapper h1 {
    font-size: 4.2rem;
    line-height: 5.2rem;
}

#wrapper h2 {
    font-size: 2.4rem;
    line-height: 3.4rem;
    font-weight: normal;
    margin-top: .8rem;
}

#wrapper p {
    max-width: 50rem;
    margin: 2rem auto 0;
    font-size: 2rem;
    line-height: 3rem;
}

#wrapper p a {
    color: var(--color-primary);
    text-decoration: none;
    transition: .2s;
}

#wrapper p a:hover {
    color: var(--color-primary-darker);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

footer a:hover  {
    transition: .2s;
    border-bottom: 1px solid var(--color-primary);
}

footer a:hover img {
    transform: translateY(-.5rem);
    transition: transform .2s;
}

footer a+a {
    margin-left: 1rem;
}

footer a img {
    width: 5rem;
    padding: 1rem;
}



@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }

    header div a {
        color: white;
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin: 0 .6rem;
        padding: 1rem;
        text-decoration: none;
    }

    #wrapper img {
        width: 30rem;
    }
}