.card {
    background-color: white;
    width: 80rem;
    min-height: 40rem;
    margin: 4.5rem auto;

    display: grid;
    grid-template-columns: 40% 60%;

    box-shadow: 0 1px 10px -6px black;
    animation: up .5s ease-in-out;
}

@keyframes up {
    from {
        opacity: .5;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
    }
}


.details {
    padding: 3.2rem;
}

.details .item {
    padding: 1.6rem 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.details .item:nth-child(2) {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #777777;
    letter-spacing: .2rem;
}

.details h3 {
    color: var(--color-primary-darker);
    text-transform: uppercase;
}

.details .item div:nth-child(2) {
    font-size: 1.8rem;
    font-weight: bold;
    color: #555555;
}

.details .item span {
    background-color: var(--color-secondary);
    padding: .8rem 1.6rem;
    border-radius: 16px;
    display: inline-block;
    margin-top: .8rem;
    margin-right: .4rem;
    font-size: 1.2rem;
    color: var(--color-primary-darker);
    text-transform: uppercase;
}

a.button {
    width: 100%;
    background-color: var(--color-primary);
    padding: .8rem 3.2rem;
    border-radius: .6rem;
    font-size: 1.6rem;
    color: white;
    margin-top: 3.2rem;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-align: center;
}

a.button:hover {
    background-color: var(--color-primary-darker);
    transition: .2s;
}

.table-container {
    display: block;
    padding: 4rem;
}

.table-container table {
    text-align: center;
    border-spacing: 0;
}

th {
    font-size: 1.4rem;
    color: #777777;
    text-transform: uppercase;
}

td {
    font-size: 1.6rem;
}

th, td {
    /* text-align: center; */
    padding: 1.6rem;
    border-bottom: 1px solid #d9d9d9;
}

.table-container tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 4rem 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

tbody tr td:nth-child(2) span {
    padding: .8rem 1.6rem;
    background-color: var(--color-secondary);
    border-radius: 16px;
    color: var(--color-primary-darker);
    font-weight: bold;
    margin-right: .4rem;
    margin-top: .8rem;
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
}

tbody tr td:last-child a,
.table-container .header a {
    background-color: var(--color-primary);
    padding: .8rem 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    border-radius: .4rem;

    transition: .2s;
}

.table-container .header a {
    display: inline-block;
    width: 12rem;
}

tbody tr td:last-child a:hover {
    background-color: var(--color-primary-darker);
}

.table-container .header a:hover {
    background-color: var(--color-primary-darker);
}

/* ----- FILTER ----- */

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 3.2rem;
}

.header form {
    display: grid;
    grid-template-columns: 1fr 12rem;
    gap: .8rem;
}

.header form input {
    padding: .8rem 1.6rem;
    border: 1px solid #eee;
    outline: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: #555;
}

.header form input:placeholder-shown {
    font-weight: normal;
}

.header form button {
    background-color: var(--color-primary);
    padding: .8rem 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    border-radius: .4rem;

    transition: .2s;
}
.header form button:hover {
    background-color: var(--color-primary-darker);
    cursor: pointer;
}

/* ------ PAGINATION --------- */
.table-container {
    display: grid;
    grid-template: 6.4rem 1fr 1.6rem / 1fr;
}

.table-container .header {
    margin: 0;
    align-self: start;
}

.table-container .pagination {
    margin: 0;
    justify-self: center;
    align-self: end;
}

.pagination a,
.pagination span {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-primary-darker);
    background-color: var(--color-secondary);
    padding: .8rem 1.6rem;
    border-radius: .4rem;
    margin-right: .6rem;

    transition: .2s;
}

.pagination span {
    background-color: initial;
}

.pagination a:hover,
.pagination span:hover {
    filter: brightness(1.05);
}

@media(max-width: 800px) {
    .card {
        width: 90%;
    }
}