{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/partials/create.css">
{% endblock head %}

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <section class="image" style="background: url({{ teacher.avatar_url }}) no-repeat center center / cover"></section>

        <section class="details">
            <h3>Editar Professor</h3>

            {% include "teachers/fields.njk"%}
        </section>
    </form>
{% endblock content %}