{% extends "layout.njk" %}

{% block head %}

    <link rel="stylesheet" href="/styles/partials/about.css">
    <title>Sobre | {{about.title}}</title>
    
{% endblock head %}

{% block content %}

    <main>
        <div id="wrapper">
            <img src="{{about.img_url}}" alt="Imagem de {{about.title}}">
            <h1>{{about.title}}</h1>
            <p>{{about.description}}</p>
            </div>
            <div id="techs">
                <h1>{{about.techs_title}}</h1>
                <ul>
                    {% for tech in about.techs %}
                        <li>{{tech.name}}</li>
                    {% endfor %}       
                </ul>
            </div>
        </div>
    </main>

        <footer>

            {% for link in about.links %}

            <a href="{{link.url}}" target="_blank">
                {{link.svg}}
            </a>

            {% endfor %}

        </footer>
{% endblock content%}