<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="https://raw.githubusercontent.com/rocketseat-education/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico"
        type="image/x-icon">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/content.css">
    <title>Rocketseat</title>
</head>

<body>
    <header>
        <div>
            <a href="index.html">Sobre</a>
            <a href="contents.html">Conteúdos</a>
            <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5547992078767">Telefone</a>
        </div>
    </header>

    <div id="wrapper-contents">
        <div class="title">
            <h1>Cursos Rocketseat</h1>
        </div>

        <div class="cards">

            <div class="card" id="starter">
                <div class="card-content">
                    <div class="card-image">
                        <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/starter.svg"
                            alt="Logo Starter">
                    </div>
                    <div class="card-title">
                        <h1>Curso Starter</h1>
                    </div>
                    <div class="card-info">
                        <p>5 Módulos</p>
                        <p class="card-price" id="starter">Grátis</p>
                    </div>

                </div>
            </div>

            <div class="card" id="launchbase">
                <div class="card-content">
                    <div class="card-image">
                        <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/launchbase.svg"
                            alt="Logo Launchbase">
                    </div>
                    <div class="card-title">
                        <h1>Bootcamp Launchbase</h1>
                    </div>
                    <div class="card-info">
                        <p>5 Módulos</p>
                        <p class="card-price" id="launchbase">R$ 999,00</p>
                    </div>
                </div>
            </div>

            <div class="card" id="gostack">
                <div class="card-content">
                    <div class="card-image">
                        <img src="https://storage.googleapis.com/golden-wind/bootcamp-launchbase/assets/gostack.svg"
                            alt="Logo GoStack">
                    </div>
                    <div class="card-title">
                        <h1>Bootcamp GoStack</h1>
                    </div>
                    <div class="card-info">
                        <p>5 Módulos</p>
                        <p class="card-price" id="gostack">R$ 2.999,00</p>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="modal-overlay">
        <div class="modal">

            <div class="modal-close">
                <span class="material-icons">
                    close
                </span>
            </div>

            <div class="modal-fullscreen">
                <span class="material-icons">
                    fullscreen
                </span>
            </div>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>


    <script src="scripts.js"></script>
</body>

</html>