{% extends "layout.njk" %}

{% block head %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/partials/courses.css">

    <title>Cursos | Rocketseat</title>
{% endblock head %}

{% block content %}

    <div id="wrapper-contents">
        <div class="title">
            <h1>Cursos Rocketseat</h1>
        </div>

        <div class="cards">

            {% for course in courses %}

                <div class="card" id="{{course.id}}">
                    <div class="card-content">
                        <div class="card-image">
                            <img src="{{course.img_url}}" alt="Logo {{course.title}}">
                        </div>
                        <div class="card-title">
                            <h1>{{course.title}}</h1>
                        </div>
                        <div class="card-info">
                            <p>{{course.modules}}</p>
                            <p class="card-price" id="{{course.id}}">{{course.price}}</p>
                        </div>

                    </div>
                </div>

            {% endfor %}
            
        </div>

    </div>
</div>

<div class="modal-overlay">
    <div class="modal">

        <div class="modal-close">
            <span class="material-icons">
                close
            </span>
        </div>

        <div class="modal-fullscreen">
            <span class="material-icons">
                fullscreen
            </span>
        </div>

        <div class="modal-content">
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>
</div>

<script src="scripts.js"></script>

{% endblock content %}