{% extends "layout.njk" %}

{% block head %}

    <link rel="stylesheet" href="/styles/partials/not-found.css">
    <title>Página não encontrada | Rocketseat</title>

{% endblock head %}

{% block content %}

    <h1>Página não encontrada</h1>
    <span>:(</span>
    <p>Para voltar à página principal é só clicar <a href="/">aqui</a>.</p>

{% endblock content %}