main {
    max-width: 90vw;
    margin: 0 auto;
}

#wrapper {
    text-align: center;
    padding: 3.2rem;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#wrapper img {
    border-radius: 50%;
    border: 3px solid var(--color-primary);
    margin-bottom: 1.2rem;
}

#wrapper h1 {
    font-size: 4.2rem;
    line-height: 5.2rem;
    color: #50fa7b;
}

#wrapper p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin: 3.2rem 0;
}

#wrapper p span {
    color: var(--color-primary);
}

#wrapper p span span {
    color: #50fa7b
}

#techs {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}

#techs h1 {
    font-size: 2.8rem;
    line-height: 3.8rem;
    text-align: center;
    padding: 3.2rem 0;
}

#techs ul {
    list-style: square inside;
    padding: 3.2rem;
    padding-top: 0;
}

#techs ul li {
    font-size: 1.8rem;
    line-height: 2.8rem;
}

footer {
    border-top: 1px solid #333333;
    margin-top: 3.2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    padding: 1rem 2rem;
}

footer a svg {
    width: 4.2rem;
    /* transition: .2s; */
}

footer a:hover svg {
    fill: var(--color-primary);
}

@media (min-width: 700px) {

    #wrapper img {
        width: 30rem;
    } 

    #wrapper p {
        font-size: 2.4rem;
        line-height: 3.4rem;
    }

    main {
        max-width: 80vw;
    }

    footer a:hover svg {
        transition: .2s;
    }
}