#wrapper-contents .title h1 {
    text-align: center;
    padding: 3.2rem;
    font-size: 2.4rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    max-width: 90vw;
    margin: 0 auto 2rem;
}

.card-content {
    max-width: 30rem;
    margin: 0 auto;
}

.cards .card {
    padding: 2.4rem;
    border: 2px solid var(--color-background);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--color-background-darker);
    border-radius: 2.4rem;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: .2s;
}

.card#starter:hover {
    border: 2px solid var(--color-primary);
}

.card#launchbase:hover {
    border: 2px solid  var(--color-launchbase);
}

.card#gostack:hover {
    border: 2px solid var(--color-gostack);
}

.card .card-image img {
    height: 20rem;
    width: 20rem;
    padding: 2.4rem 0;
}

.card .card-title h1 {
    font-size: 2.6rem;
    padding: 1.2rem 0;
}

.card .card-info {
    padding: 3.2rem ;
    padding-top: 5rem;
    max-width: 30rem;
    margin: 0 auto;
}

.card-info p {
    font-size: 1.4rem;
}

.card-price {
    width: 100%;
    padding: .5rem;
    margin-top: 3.2rem;
    border-radius: 2.4rem;
    color: var(--color-background-darker);
    font-weight: bold;
}

.card-price#starter {
    background-color: var(--color-primary);
}

.card-price#launchbase {
    background-color: var(--color-launchbase);
}

.card-price#gostack {
    background-color: var(--color-gostack);
}

/* -------------------------MODAL------------------------- */

.modal-overlay {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.modal {
    position: relative;
    top: 0;
    margin: 5vh auto;
    width: 90%;
    height: 90%;
    background-color: var(--color-background);
}

.modal-close,
.modal-fullscreen {
    color: var(--color-primary);
    position: absolute;
    padding: .5rem;

}   

.modal-close:hover,
.modal-fullscreen:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: .2s ease-in-out;
    color: var(--color-primary-darker);
}

.modal-fullscreen {
    right: 0;
}

iframe {
    width: 100%;
    height: 90%;
    margin-top: 5vh;
    position: absolute;
}

/* -------MODAL.ACTIVE---------- */
.modal-overlay.active {
    visibility: visible;
}

/* -------MODAL.FULLSCREEN------- */
.modal.fullscreen {
    width: 100%;
    height: 100%;
    margin-top: 0;
}



@media(min-width: 1131px) {
    :root {
        font-size: 62.5%;
    }

    #wrapper-contents .title h1 {
        text-align: center;
        padding: 4.2rem 0;
        font-size: 3.4rem;
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cards .card {
        width: 100%;
    }
}