{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/partials/create.css">
{% endblock head %}

{% block content %}
    <div class="card">
        <section class="image" style="background: url({{ teacher.avatar_url }}) no-repeat center center / cover"></section>
        <section class="details">
            <form method="POST" action="/teachers?_method=PUT">

                <h3>Editar Professor</h3>

                {% include "teachers/fields.njk"%}

                <input type="hidden" name="id" value="{{ teacher.id }}">

            </form>

            <form id="form-delete" action="/teachers?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{ teacher.id }}">
                <button id="delete" type="submit">Deletar</button>
            </form>


        </section>

    </div>

    {% include "confirm.njk" %}
{% endblock content %}