{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/partials/teachers.css">
{% endblock head %}

{% block content %}
    <div class="card table-container">
        <a href="/teachers/create">Novo</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Nome completo</th>
                    <th>Acompanhamento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>
                            <span style="background-image: url({{teacher.avatar_url}})"></span>
                            {{ teacher.name }}
                        </td>
                        <td>
                            {% for class in teacher.classes.split(",") %}
                                <span>{{class}}</span>
                            {% endfor %}
                        </td>
                        <td><a href="/teachers/{{teacher.id}}">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}